/****** Main page ******/

.right-entry.gamepad-activated {
    outline: 1px solid red;
}

.feed-card:focus {
    outline: 1px solid red;
}

.bili-dyn-item:focus {
    outline: 1px solid red;
}

/****** Header control ******/

.right-entry .bilipad-button-after::after {
    font-size: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    transition: 0.15s;
}

/****** Common buttons ******/

.bilipad-button-after::after,
.bilipad-button-before::before {
    font-family: "PromptFont";
}

.bilipad-button-after.bilipad-button-a::after,
.bilipad-button-before.bilipad-button-a::before {
    content: "⇓";
}

.bilipad-button-after.bilipad-button-start::after,
.bilipad-button-before.bilipad-button-start::before {
    content: "⇻";
}

.bilipad-button-after.bilipad-button-lb::after,
.bilipad-button-before.bilipad-button-lb::before {
    content: "↘";
}

.bilipad-button-after.bilipad-button-rb::after,
.bilipad-button-before.bilipad-button-rb::before {
    content: "↙";
}

.bilipad-button-lbrb::before {
    font-family: "PromptFont";
    content: "↘";
}

.bilipad-button-lbrb::after {
    font-family: "PromptFont";
    content: "↙";
}

.bili-dyn-up-list.bilipad-button-lbrb::before,
.bili-dyn-up-list.bilipad-button-lbrb::after {
    font-size: 24px;
    padding: 0 8px;
}

.bilipad-button-hidden.bilipad-button-after::after,
.bilipad-button-hidden.bilipad-button-before::before {
    opacity: 0;
}

.bilipad-buttons-visible .bilipad-button-hidden.bilipad-button-after::after,
.bilipad-buttons-visible .bilipad-button-hidden.bilipad-button-before::before {
    opacity: 1;
}


/****** Search page ******/

#nav-searchform .nav-search-content::before {
    color: #61666D;
    font-size: 18px;
    padding-right: 8px;
}

#nav-searchform.is-focus .nav-search-content::before {
    content: "";
    padding-right: 0;
}

button.vui_pagenation--btn-side.bilipad-button-before::before,
button.vui_pagenation--btn-side.bilipad-button-after::after {
    font-size: 24px;
    line-height: 14px;
    top: 2px;
    position: relative;
}

button.vui_pagenation--btn-side.bilipad-button-before::before {
    padding-right: 8px;
}

button.vui_pagenation--btn-side.bilipad-button-after::after {
    padding-left: 8px;
}
